<html>
    <head>
       <title>The Wall Front Page</title>
       <link rel="stylesheet" type="text/css" href="../static/styles/master.css">
    </head>
    <body>
        <div class="main">
            <h3>Welcome to The Wall</h3>
            <p>Login or register to enter the site.</p>
            <form action="/log" method="get"><input type='submit' value='Login'></form>
            <form action="/reg" method="get"><input type='submit' value='Register'></form>
        </div>
        <div class="msg">
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        <p>{{message}}</p>
                    {% endfor %}
                {% endif %}
            {% endwith %}
        </div>
    </body>
</html>
